/* Write your CSS here */
.delete-container {
  display: flex;
  width: 10%;
}
.delete-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.delete-img {
  background-color: transparent;
  width: 20px;
  height: 20px;
  align-self: center;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .delete-img {
    margin-right: 24px;
  }
}
